[Unit]
Description=UA BOOK API
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python /home/clawd/bookapi/book_rest.py
[Install]
WantedBy=multi-user.target
